.row-fluid
  %a#main
  %section#main_section
    .container
      .desc.col-lg-12
        群傲公司研发的群傲球场管理系统为国内多家网球场地， 羽毛球场地提供专业服务。群傲软件由国内权威场地管理人士设计，已经被多家场地使用多年， 技术和经验非常成熟。

  
  %a#booking
  %section#cates_section
    .container
      .img.col-lg-12
        分片场地可按小时或者半小时分时段预定， 界面友好，操作简单，适合前台接待朋友轻易操作。
  
  
  %a#prices
  %section#products_section
    .container
      .img.col-lg-12
        场地定价灵活，全年可分为夏令时，冬令时分别定价。 节假日与平日定价不同， 当天内可定价不同。
  
  
  %a#members
  %section#carts_section
    .container
      .img.col-lg-12
        支持会员和会员卡， 会员卡可分次卡与储存卡等多种形式， 会员可共享卡片。 同一会员支持多张卡片。
  
  %a#sales
  %section#checkout_section
    .container
      .img.col-lg-12
        会员可通过会员卡做商品消费， 支持商品上传， 出库入库操作，方便商品消费， 可用会员卡结算。
  
  %a#vacations
  %section#checkout_section
    .container
      .img.col-lg-12
        节假日可调整， 比如十一五一倒休， 方便设置。
  
  %a#rents
  %section#checkout_section
    .container
      .img.col-lg-12
        支持储物柜管理， 储物柜长期出租，计费，到时提醒等功能。

  %a#contact
  %section#contact_section
    .container
      .desc.col-lg-12
        如需帮助或者申请试用请联系
        %br
        QQ: 358631229
        %br
        联系人： 马小姐
              
